:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
  font-family: "Open Sans", sans-serif;
  font-weight:400;
  font-size: 16px;
}

footer h3,h2 span{
  color: #ffef02!important;
}

.nav-item, .col-lg-4 h3,.nyomda-online-logo p{
  font-weight:600;
}

.nyomda-online-logo span{
  color: rgb(0, 170, 255);
}

.connection, .navbar, .nyomda-online-logo,.list,ul{
  align-items: center!important;
}

.connection{
  padding: 0px;
  color: #000;
  justify-content: space-around;
}

button, .connection{
  background-color:#ffef02;
}

.nyomda-online-logo,.nav-item,.list{
  justify-content: center;
}

nav li,.nyomda-online-logo p{
  text-transform: uppercase;
}

.nyomda-online-logo p, .nyomda-online-logo img, .nyomda-online-logo, .product-card, .ask-form,.partners {
  padding: 30px;
}

.navbar,.nav-item,.ask-form{
  background-color: #131313;
}

.navbar input, .footer-nav{
  background-color: #383838;
  color: #ccc;
}

button,.navbar input, .footer-nav{
  border: none;
}

.nyomda-online-logo img{
  border-right: 1px solid rgb(0, 0, 0);
}
.connection div p{
  margin:0px 10px;
}

.dropdown-item, .navbar, a.nav-link,.navbar input, footer p,h2{
  color: #fff !important;
}

.list li {
  list-style-type: none;
}

.list{
border-top: #242424 1px solid;
background-color: #ccc;
}

.list,.product-card .d-flex{
  border-bottom: #242424 1px solid;
}

footer{
  background-image: url("../src/assets/images/footer-bg.jpg");
}

h2{
  background-image: url("../src/assets/images/nyomdai-termekek-bg.jpg");
  background-position: center;
}

header{
  background-image: url("../src/assets/images/header-bg.png");
}

.ask-form{
  background-image: url("../src/assets/images/kerdese-van.jpg");

}

.partners{
  background-image: url("../src/assets/images/rolunk-mondtak.jpg");
}

.product-card{
  width: 50%;
}
